<div class="row">
	<div class="small-7 columns">
		<div class="row">
			<div class="small-12 columns" id="posts"></div>
		</div>
		<div class="row">
			<div class="small-12 columns"></div>
		</div>
	</div>
	<div class="small-5 columns">
		<ul class="tabs" data-tab>
		  <li class="tab-title active"><a href="#all-subbreddits">All</a></li>
		  <li class="tab-title"><a href="#subscribed-subbreddits">Subscribed</a></li>
		</ul>
		<div class="tabs-content">
		  <div class="content active" id="all-subbreddits"></div>
		  <div class="content" id="subscribed-subbreddits"></div>
		</div>
	</div>
</div>